.row
  .columns.large-6
    %img{src: image_path('twilio-logo.png')}
  .columns.large-6
    %img{src: image_path('gmaps_logo.png')}
.row
  .columns.large-6
    %img{src: image_path('sendgrid_logo.png')}
  .columns.large-6
    %img{src: image_path('heroku-logo.jpg')}
.row
  .columns.large-6
    %img{src: image_path('paypal-logo.jpg')}
  .columns.large-6
